.MiCuenta{
    background-color: bisque;
}
.Container{
    display: flex;
    flex-flow: row;
}

.Seleccion{
    display: flex;
    flex-flow: column;

}

button:hover{
    color: brown;
    text-align: center;
}